
<ion-content>
<div class="full">


  <div class="first">
    <ion-item lines="none">
      <ion-icon name="menu-outline"  slot="start" class="menu-icon"></ion-icon> 
   <ion-label class="h1">Profile</ion-label>
    </ion-item>
    <div class="overlay">
      <ion-avatar>
        <img src="assets/r.png" alt="Avatar" class="image">
        <ion-item line="none" style="--background: #333333;">
          <p style="font-size:20px;color: #FFFFFF;">Piff Jenkins<br>
            <ion-label style="font-size:13px;color: #9F9E9E;"> @piffjenkins</ion-label></p>
        </ion-item>
 </ion-avatar>
    </div>
  </div>
 
 
        
    

<br><br><br><br><br><br><br><br><br><br>
<ion-card class="second">
<ion-grid>
  <ion-row>
    <ion-col><ion-card class="c1"><p style="text-align: center;
      letter-spacing: 1.2px; color: #7DE0A8;">+5%</p></ion-card><p style="color:white;margin-left:13px;">Income</p></ion-col>
    <ion-col><ion-card class="c2"><p style="text-align: center;
      letter-spacing: 1.2px; color: #1569FF;">+12%</p></ion-card><p style="color:white;margin-left:13px;">Deposite Income</p></ion-col>
    <ion-col><ion-card class="c3"><p style="text-align: center;
      letter-spacing: 1.2px;color: #F91A1D;">-10%</p></ion-card><p style="color:white;margin-left:13px;">Expense</p></ion-col>
    </ion-row>
</ion-grid>
  </ion-card>

  <h6>Settings</h6>
  <ion-card class="third">
    <ion-item >
      <ion-toggle slot="end" class="t1"></ion-toggle>
    show blocked cards
    </ion-item>
    <ion-item >
      <ion-toggle slot="end" class="t2"></ion-toggle>
   low blocked cads
    </ion-item>
    <ion-item >
      <ion-toggle slot="end" class="t2"></ion-toggle>
   touch id
    </ion-item>
  </ion-card>
  
  

</div>
</ion-content>
