.full{
    top: 0px;
left: 0px;
width: 414px;
height: 800px;
background: #333333 0% 0% no-repeat padding-box;
}
.first{
    margin:auto;
    display:block;
    top: 0px;
left: 0px;
width: 414px;
height: 190px;
--background: #1C1B1B 0% 0% no-repeat padding-box;
border-radius: 0px 0px 30px 30px;
}
.second{
  
    width: 386px;
    height: 310px;   
    margin:auto;
    display:block;
    background: #1C1B1B 0% 0% no-repeat padding-box;
    box-shadow: 0px 2px 38px #00000014;
    border-radius: 18px;
    }

h6{
    margin-left: 17px;
font-size:15px;
letter-spacing: var(--unnamed-character-spacing-1);
text-align: left;
letter-spacing: 1px;
color: #FFFFFF;
}
ion-label{
    margin-left:10px;
    color: #FFFFFF;font-size:15px;
}
ion-item{
    --background: #1C1B1B 0% 0% no-repeat padding-box;
}
p{
    margin-left:10px;
    font-size:13px;
    color: #9F9E9E;
}
.strip{
width: 5px;
height: 128px;
background: #DAE8FF 0% 0% no-repeat padding-box;
border-radius: 19px 19px 0px 0px;
margin-left: 30px;
}
.income
{
    margin-left: 106px;
width: 24px;
height: 7px;
background: #7DE0A8 0% 0% no-repeat padding-box;
border-radius: 5px;
}
.expense{
width: 24px;
height: 7px;
background: #F91A1D 0% 0% no-repeat padding-box;
border-radius: 5px;
}
.menu-icon{
    margin-top:40px;
width: 40px;
height:40px;
color:white;
}
.h1{
    color:white; 
    margin-left:70px;
    margin-top: 40px;
}
.div1{
    height:100px;
    background: #DAE8FF 0% 0% no-repeat padding-box;
}
.div2{
    height:28px;
    background: #F91A1D 0% 0% no-repeat padding-box;
}
.div3{
    height:116px;
    background: #DAE8FF 0% 0% no-repeat padding-box;
}
.div4{
    height:12px;
    background: #F91A1D 0% 0% no-repeat padding-box;
}
.div5{
    height:87px;
    background: #DAE8FF 0% 0% no-repeat padding-box;
}
.div6{
    height: 35px;
    background: #7DE0A8 0% 0% no-repeat padding-box;
}
.div7{
    height: 6px;
    background: #F91A1D 0% 0% no-repeat padding-box;
}
.div8{
    height: 84px;
    background: #DAE8FF 0% 0% no-repeat padding-box;
}
.div9{
    height: 22px;
    background: #7DE0A8 0% 0% no-repeat padding-box;
}
.div0{
    height: 22px;
    background: #F91A1D 0% 0% no-repeat padding-box;
}
#div1{
    height: 70px;
    background: #DAE8FF 0% 0% no-repeat padding-box;
}
#div2{
    height: 36px;
    background: #7DE0A8 0% 0% no-repeat padding-box;
     
}
#div3{
    height: 22px;
background: #F91A1D 0% 0% no-repeat padding-box;

}
#div4{
    height: 91px;
    background: #DAE8FF 0% 0% no-repeat padding-box; 
}
#div5{
    height: 26px;
background: #F91A1D 0% 0% no-repeat padding-box;
}
#div6{
    height: 11px;
background: #7DE0A8 0% 0% no-repeat padding-box;
}
#div7{
    height:54px;
background: #DAE8FF 0% 0% no-repeat padding-box;
}
#div8{
    height: 37px;
    background: #7DE0A8 0% 0% no-repeat padding-box; 
}
#div9{
    height: 37px;
background: #F91A1D 0% 0% no-repeat padding-box;
}
