
<ion-content>
<div class="full">

<ion-card class="first">
  <ion-item lines="none">
    <ion-icon name="menu-outline"  slot="start" class="menu-icon"></ion-icon> 
 <ion-label class="h1">Statistics</ion-label>
  </ion-item>

  <h1 style="color:white;margin-left: 20px;">$34,567,89</h1>
  <p style="color:white;font-size:10px;margin-left:20px;">Available Balance</p>
</ion-card>

<br>
<ion-card class="second">
  <ion-grid>
    <ion-row>
      <ion-col>  <ion-item >
        <ion-icon name="arrow-up-outline" style="color:#7DE0A8;"></ion-icon><p style="font-size:12px;color: #FFFFFF;">Weekly Income<br>
          <ion-label style="font-size:20px;color:white;">   +$789,9</ion-label></p>
      </ion-item></ion-col>
      <ion-col>
        <ion-item >
          <ion-icon name="arrow-down-outline" style="color:#F91A1D;"></ion-icon><p style="font-size:12px;color: #FFFFFF;">Weekly Expense<br>
            <ion-label style="font-size:20px;color:white;"> -$323,9</ion-label></p>
        </ion-item>
      </ion-col>
      </ion-row>
    </ion-grid>
<ion-grid>
<ion-row>
<ion-col><div class="strip"><div class="div1"></div><div class="div2"></div></div><p style=" color: #9F9E9E;margin-left:20px;font-size:13px;">
  Mon</p>
</ion-col>
<ion-col><div class="strip"><div class="div3"></div><div class="div4"></div></div>
  <p style=" color: #9F9E9E;margin-left:20px;font-size:13px;">
    Tue</p>
</ion-col>
<ion-col><div class="strip"><div class="div5"></div><div class="div6"></div><div class="div7"></div></div>
  <p style=" color: #9F9E9E;margin-left:20px;font-size:13px;">
    Wed</p>
</ion-col>
<ion-col><div class="strip"><div class="div8"></div><div class="div9"></div><div class="div0"></div></div>
  <p style=" color: #9F9E9E;margin-left:20px;font-size:13px;">
    Thu</p>
</ion-col>
<ion-col><div class="strip"><div id="div1"></div><div id="div2"></div><div id="div3"></div></div>
  <p style=" color: #9F9E9E;margin-left:20px;font-size:13px;">
    Fri</p>
</ion-col>
<ion-col><div class="strip"><div id="div4" ></div><div id="div5"></div><div id="div6"></div></div>
  <p style=" color: #9F9E9E;margin-left:20px;font-size:13px;">
    Sat</p>
</ion-col>
<ion-col><div class="strip"><div id="div7"></div><div id="div8"></div><div id="div9"></div></div>
  <p style=" color: #9F9E9E;margin-left:20px;font-size:13px;">
    Sun</p>
</ion-col>
</ion-row>
<ion-row class="ion-text-start">
  <ion-col><ion-item><ion-card class="income"></ion-card><ion-label style="color: white;font-size:12px;">Income
  </ion-label></ion-item></ion-col>
  <ion-col><ion-item><ion-card class="expense"></ion-card><ion-label style="color:white;font-size:12px;">Expense
  </ion-label></ion-item></ion-col>
  </ion-row>
</ion-grid>
  </ion-card>

  <br>
  <h6>Today</h6>
  <ion-grid>
    <ion-row>
      <ion-col>
    <ion-label>Sport<br><p>08,June,2020,10:30</p></ion-label></ion-col>
    <ion-col><ion-label style="color:#F91A1D;font-size:15px;"><div class="ion-text-end">$118,72</div></ion-label></ion-col></ion-row>
  
    <ion-row>
      <ion-col>
    <ion-label>Shopping<br><p>08,June,2020,13:30</p></ion-label></ion-col>
    <ion-col><ion-label style="color:#F91A1D;font-size:15px;"><div class="ion-text-end" >$45,00</div></ion-label></ion-col></ion-row>
  
    <ion-row>
      <ion-col>
    <ion-label>Quiche Hollandaise<br><p>08,June,2020,14:30</p></ion-label></ion-col>
    <ion-col><ion-label style="color:#7DE0A8;font-size:15px;"><div class="ion-text-end">$550,00</div></ion-label></ion-col></ion-row>
  
    <ion-row>
      <ion-col>
    <ion-label>Niles Peppertrout<br><p>08,June,2020,19:30</p></ion-label></ion-col>
    <ion-col><ion-label style="color:#7DE0A8;font-size:15px;"><div class="ion-text-end" >$550,00</div></ion-label></ion-col></ion-row>
 </ion-grid>

</div>
</ion-content>
