.fill{
    top: 0px;
left: 0px;
width:100%;
height: 896px;
background: #333333 0% 0% no-repeat padding-box;
opacity: 1;
}
h6{
    margin-left: 20px;
letter-spacing: var(--unnamed-character-spacing-1);
text-align: left;
letter-spacing: 1px;
color: #FFFFFF;
font-size:15px;
}
.first{
    width:100%;
    height: 96px;
--background: #1C1B1B 0% 0% no-repeat padding-box;
border-radius: 0px 0px 30px 30px;
margin:auto;
display:block;
}
p{
    margin-top:40px;
margin-right :160px;
letter-spacing: var(--unnamed-character-spacing-1);
text-align: center;
letter-spacing: 1px;
color: #FFFFFF;
font-size:20px;
}
.half-circle {
    margin-left: 17px;
    border-radius:100%;
width: 63px;
height: 63px;
border-width: 6px;
    border-style: solid;
    border-color:  #1569FF #1569FF white white; 

   }
   .circle-text{
    color: #FFFFFF;
    margin-left:8px;
    font-size:15px;
   }
   .icon{
    margin-top:40px;
width: 40px;
height:40px;
color:white;
}
.h1{
    color:white; 
    margin-left:70px;
    margin-top: 40px;
}
.dot{
      display: inline-block;
width: 27px;
height: 9px;
background: #1569FF 0% 0% no-repeat padding-box;
border-radius: 5px;
margin-right:5px;
}
.dot1{
    margin-right:5px;
    display: inline-block;
width: 9px;
height: 9px;
border-radius:100%;
background: #DEEAFF 0% 0% no-repeat padding-box;
}
.second{
    margin-left: 14px;
    margin:auto;
    display:block;
width: 388px;
height: 225px;
background: #333333 0% 0% no-repeat padding-box;
border-radius: 30px;
display:block;
}

h1{
margin-left:30px;
margin-top:50px;
text-align: left;
color: #FFFFFF;
}
.circle
{
 
width: 63px;
height: 63px;
transform: matrix(0.94, -0.34, 0.34, 0.94, 0, 0);
border: 6px dashed #1569FF;
border-radius:100%;
}
.date{
    margin-right: 25px;
font-size:15px;
letter-spacing: var(--unnamed-character-spacing-1);
text-align: left;
letter-spacing: 1px;
color: #FFFFFF;
}
.third{
    margin-left: 14px;
    margin:auto;
    display:block;
width: 386px;
height: 244px;
background: #1C1B1B 0% 0% no-repeat padding-box;
box-shadow: 0px 2px 38px #00000014;
border-radius: 18px;
}
.p1{
    letter-spacing: var(--unnamed-character-spacing-1);
text-align: left;
letter-spacing: 1px;
color: #9F9E9E;
opacity: 1;
}
ion-label{
    letter-spacing: var(--unnamed-character-spacing-1);
text-align: left;
letter-spacing: 1px;
color: #FFFFFF;
opacity: 1;

}
ion-item{
    --background: #333333 0% 0% no-repeat padding-box;
  
}
