

<ion-content>
  <div class="fill">
 <ion-card class="first">
  <ion-item lines="none" style="--background: #1C1B1B 0% 0% no-repeat padding-box;">
    <ion-icon name="menu-outline"  slot="start" class="icon"></ion-icon> 
 <ion-label class="h1">Cards</ion-label>
  </ion-item>

   </ion-card>
<br>
   <h6>My Cards</h6>
  

<ion-card class="second">
<img src="assets/df.png" >
</ion-card>

<div style="text-align:center">
  <span class="dot"></span>
  <span class="dot1"></span>
  <span class="dot1"></span>
  <span class="dot1"></span>
  <span class="dot1"></span>
</div>


<h6>This Months</h6>
<ion-grid>
  <ion-row>
    <ion-col>
      <ion-item lines="none">
<div class="half-circle"></div><ion-label class="circle-text">Outcome
<br><ion-label style="color: #1569FF;font-size:12px;">$&nbsp;2,345</ion-label></ion-label></ion-item></ion-col>
<ion-col>
  <ion-item lines="none">
<div class="half-circle" id="hc1"></div><ion-label class="circle-text">Income
<br><ion-label style="color: #1569FF;font-size:12px;">$&nbsp;9,678</ion-label></ion-label></ion-item></ion-col>
</ion-row></ion-grid>

<ion-grid><ion-row>
  <ion-col> </ion-col>
  <ion-col></ion-col>
  </ion-row></ion-grid>

  <ion-card class="third">
    <ion-card-header>
      <ion-card-subtitle><ion-label>&nbsp;Today</ion-label></ion-card-subtitle>
      <ion-card-title></ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col>
        <ion-label>Ardish Market<br><ion-label style="color: #9F9E9E;font-size:12px;">food Shopping</ion-label></ion-label></ion-col>
        <ion-col><ion-label style="color: #F91A1D;"><div class="ion-text-end">-$118,72<br><ion-label style="color: #9F9E9E;font-size:12px;">
          today</ion-label></div></ion-label></ion-col></ion-row>
      
        <ion-row>
          <ion-col>
        <ion-label>Farukh Farmacy<br><ion-label style="color: #9F9E9E; font-size:12px;">Medical Equipment</ion-label></ion-label></ion-col>
        <ion-col><ion-label style="color: #F91A1D;"><div class="ion-text-end">-$45,00<br><ion-label style="color: #9F9E9E;font-size:12px;">
          today</ion-label></div></ion-label></ion-col></ion-row>
      
        <ion-row>
          <ion-col>
        <ion-label>Niles Peppertrout<br><ion-label style="color: #9F9E9E;font-size:12px;">Money Transfer</ion-label></ion-label></ion-col>
        <ion-col><ion-label><div class="ion-text-end" style="color: #7DE0A8;">+$550,00<br><ion-label style="color: #9F9E9E;font-size:12px;">
          today</ion-label></div></ion-label></ion-col></ion-row>
      
        
      </ion-grid>
     </ion-card-content>
    </ion-card>
  </div>
</ion-content>
